name: main_ci_check

on: 
  push: 
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get
        working-directory: my_app

      - name: Analyze code
        run: flutter analyze
        working-directory: my_app

      - name: Run tests
        run: flutter test
        working-directory: my_app

      - name: Flutter Test Report
        uses: ueki-tomohiro/flutter-test-action@v1.0.3
        with:
          token: ${{ github.token }}
